[submodule "conf/awesome/lib/bling"]
	path = conf/awesome/lib/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "conf/awesome/lib/rubato"]
	path = conf/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato
[submodule "conf/awesome/awesome/lib/rubato"]
	path = conf/awesome/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato
