*.font: xft:Iosevka:size=14:style=Medium,xft:icomoon:size=12, xft:DejaVu Sans:size=12, xft:Noto Color Emoji:size=12
URxvt.intensitystyles: false
URxvt.cursorBlink:                true
URxvt.cursorUnderline:            true
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      32
URxvt.iso14755:                   false
URxvt.pointerBlank:               true
*.internalBorder: 40
!URxvt.letterSpace: -1

Xft.hinting: true
Xft.hintstyle: hintfull
Xft.autohint: true


!
!
! URxvt Extensions
URxvt.perl-ext-common:            default,tabbedex,url-select,font-size

URxvt.keysym.Control-Right:     font-size:increase
URxvt.keysym.Control-Left:   font-size:decrease
URxvt.keysym.Control-Shift-Right:   font-size:incglobal
URxvt.keysym.Control-Shift-Left: font-size:decglobal
URxvt.keysym.Control-equal:  font-size:reset
URxvt.keysym.Control-slash:  font-size:show

URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! Mountain Xresources palette

! Special
*.foreground: #c5c8c6
*.background: #0B151D

! Black
*.color0:     #161821
*.color8:     #6b7089

! Red
*.color1:     #e27878
*.color9:     #e98989

! Green
*.color2:     #b4be82
*.color10:    #c0ca8e

! Yellow
*.color3:     #e2a478
*.color11:    #e9b189

! Blue
*.color4:     #84a0c6
*.color12:    #91acd1

! Magenta
*.color5:     #91acd1
*.color13:    #95c4ce

! Cyan
*.color6:     #ada0d3
*.color14:    #ada0d3

! White
*.color7:     #c6c8d1
*.color15:    #d2d4de
