*.font: xft:JetBrainsMonoMedium NF:size=12,xft:icomoon:size=12, xft:DejaVu Sans:size=12, xft:Noto Color Emoji:size=12
URxvt.cursorBlink:                true
URxvt.cursorUnderline:            true
URxvt.saveLines:                  8192
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      32
URxvt.iso14755:                   false
URxvt.pointerBlank:               true
*.internalBorder: 30
URxvt.letterSpace: -1
!
!
! URxvt Extensions
URxvt.perl-ext-common:            default,tabbedex,url-select,font-size

URxvt.keysym.Control-Right:     font-size:increase
URxvt.keysym.Control-Left:   font-size:decrease
URxvt.keysym.Control-Shift-Right:   font-size:incglobal
URxvt.keysym.Control-Shift-Left: font-size:decglobal
URxvt.keysym.Control-equal:  font-size:reset
URxvt.keysym.Control-slash:  font-size:show

URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! Mountain Xresources palette

! Special
*.foreground: #f0f0f0
*.background: #0B151D

! Black
*.color0:     #262626
*.color8:     #4c4c4c

! Red
*.color1:     #ac8a8c
*.color9:     #c49ea0

! Green
*.color2:     #8aac8b
*.color10:    #9ec49f

! Yellow
*.color3:     #c6a679
*.color11:    #ceb188

! Blue
*.color4:     #8f8aac
*.color12:    #a39ec4

! Magenta
*.color5:     #ac8aac
*.color13:    #c49ec4

! Cyan
*.color6:     #8aabac
*.color14:    #9ec3c4

! White
*.color7:     #CACACA
*.color15:    #e7e7e7
